sudo: required 
dist: trusty 
language: generic 
compiler:
  - gcc

env:
  global:
    - ROS_PARALLEL_TEST_JOBS=-j1
  matrix:
    - ROS_DISTRO="melodic" ROS_REPO=ros
    - ROS_DISTRO="kinetic" ROS_REPO=ros

install:
  - git clone https://github.com/ros-industrial/industrial_ci.git .ci_config
script: 
  - source .ci_config/travis.sh
