<?xml version="1.0"?>
<model>
  <name>teeterbot_training_wheels</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Micho Radovnikovich</name>
    <email>mradov@gmail.com</email>
  </author>

  <description>
    Same teeterbot model, but with invisible, frictionless spheres to keep it upright
  </description>
</model>